@import '../../CSSReset.css';
@import '../../App.scss';

.Landing {
	display: flex;
	flex-direction: column;
  &__BallotImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    width: 50%;
    margin-top: 30px;
  }
	&__Container {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		height: 30vh;
	}
	&__Mission,
	&__Founder {
		min-width: 20rem;
		width: 40vw;
		background-color: $accent;
		color: $text;
		border-radius: 7px;
		margin: 2rem 0;
		padding: 1rem;
		box-shadow: $boxshadow;
		h5 {
			text-align: center;
			font-weight: bold;
			font-size: clamp(1rem, 2vw, 1.75rem);
		}
		h4 {
			font-size: clamp(1rem, 2vw, 1.25rem);
			margin: 1.4rem 0 0 1.8rem;
			line-height: 1.5;
		}
		ul {
			list-style: outside;
			margin: 1.4rem 0 0 1.8rem;
			li {
				padding: 0.4rem 0;
				font-size: clamp(1rem, 2vw, 1.25rem);
			}
		}
	}
	&__Founder {
		background-color: $accent2;
	}
}